{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Minimal Bash profile #}
{# subtitle = this is how I start #}
{# name = A simple, minimal bash profile #}

{% block body %}

{% markdown %}

Below is what we consider a minimal bash configuration file
that is still universally useful. This is how we start on every system.
As you gain more expertise expand the file with commands
that are useful in your work.

{% code "minimal-bash.sh" %}

*Note*: do yourself a favor and customize the way
the terminal looks. You can vary font sizes, colors. It makes
a tremendous difference.

Installation shortcut:

{% code "minimal-bash-install.sh" %}

Open a new Terminal to see the changes.

{% endmarkdown %}

{% endblock %}
