{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set up Mac OSX #}
{# subtitle = this only needs to be done once #}
{# name = How to set up a Mac OSX computer #}

{% block body %}
{% markdown %}

### Introduction

Update your OSX to the latest version.

Most installation instructions will be executed in a Terminal.
Open a Terminal and type in the commands.

- - -

### Install XCode Command Line Tools

Mac OSX users need to install XCode command line tools with the following command:

    xcode-select --install

This will trigger an installation procedure that the user needs to accept.

In addition users may need also need to occasionally launch
the same command again after certain updates to agree to
changes in the license. Users can accept the new license by typing:

    sudo xcodebuild -license

- - -

### Install Homebrew

The Mac OSX instructions will use [HomeBrew](http://brew.sh/) whenever the tool has a corresponding
formula.

Visit the [HomeBrew](http://brew.sh/) page for the installation script. Currently this is:

    /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

The installation above will have to be run by a user with local administrator rights and the password
for will need to be provided during installation.

To use `brew` users will need to "tap" the ["science formulas"](https://github.com/Homebrew/homebrew-science)  then
regularly update the formulas, especially after an XCode update.

    brew tap homebrew/science
    brew update

There are a number of important libraries that tools may require, it is best
if these are installed right away.

1. Install the X11 libraries. Unlike most other installation commands this may take a long time
to finish (30 minutes or more) and it will ask for a root password.

        brew install Caskroom/cask/xquartz

2. Install other required libraries. These will finish much faster.

        brew install gd libharu git imagemagick lzo hdf5 bison wget

3. Libraries may become outdated in time in which case it need to be upgraded.
Periodically you many need to update these:

        brew update
        brew upgrade gd libharu git imagemagick lzo hdf5 bison wget

**Note:** even when regularly updated the brewed formulas may install
older versions of the software. In that case follow the **Unix** installation instructions.

- - -

### Install Java JDK

Make sure to install the **JDK** (Java Development Kit) and not the **JRE** (Java Runtime Environment)
version of Java.

Install [Java JDK for Mac OS X](http://www.oracle.com/technetwork/java/javase/downloads/index.html)

Test your installation by typing:

    java -version

- - -

### Set the Finder Preferences

To be able to view your home directory within the Mac Finder
you need to tick a checkbox next to it. Go to Finder->Preferences your home directory
is named as your username.
My username is `ialbert`, yours will be different. See below:

![Finder Preferences](/img/finder-preferences.png)

### Some files won't be shown

Note that the Finder will not show so called "hidden" files, these are files
whose name starts with a period: `.`

There is nothing really hidden about these files, it is just a convention that Unix
adopted that, by default avoids showing file names that were typically used
for configuration.

{% endmarkdown %}

{% endblock %}
