{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set up Mac OSX #}
{# subtitle = this only needs to be done once #}
{# name = How to set up a Mac OSX computer #}

{% block body %}
{% markdown %}

Update your OS to the latest version.

### Install XCode Command Line Tools

Mac OSX users need to install XCode command line tools with the following command:

    xcode-select --install

In addition users may need also need to occasionally launch
the same command again after certain updates to agree to
changes in the license. Users can accept the new license by typing:

    sudo xcodebuild -license

or by starting XCode itself.

- - -

### Install Homebrew

The Mac OSX instructions will use [HomeBrew](http://brew.sh/) whenever the tool has a corresponding
formula.
When using homebrew users need to tap the science formulas then
regularly update the formulas, especially after an XCode update.

    brew tap homebrew/science
    brew update

Occasionally when using `brew` the version of the software
that `brew` installs may be older
than the newest release.
In that case users can often install from source the same tool.
Here is a list of all [science formulas](https://github.com/Homebrew/homebrew-science)

There are a number of important libraries that tools may require, it is best
if these are installed right away:

    # Install the X11 libraries.
    # Unlike most other installation commands this may take a long time
    # to finish (30 minutes or more) and it will ask for a root password.
    brew install Caskroom/cask/xquartz

    # Install required libraries. These will finish much faster.
    brew install gd libharu git imagemagick lzo hdf5 bison wget

A library may become outdated in which case it needs to be upgraded.
For example:

    brew update
    brew upgrade gd libharu git imagemagick lzo hdf5 bison wget

Occasionally the `brew` command may fail to install a tool when some parts of the system do not have write access.
You will receive "permission errors" for example `/usr/local/man/ is not writable`.
In those cases you need to set write permissions to those directories with:

    sudo chmod 777 /usr/local/man/

**Note**: Mac OSX, El Capitan update, the following command may need to be run:

    sudo chown -R $(whoami):admin /usr/local

**Note:** even when regularly updated the brewed formulas may install
older versions of the software. In that case follow the **Unix** installation instructions.

- - -

### Install Java JDK

Install [Java JDK for Mac OS X](http://www.oracle.com/technetwork/java/javase/downloads/index.html)

Make sure that you install the **JDK** (Java Development Kit) and not the **JRE** (Java Runtime Environment)
version of Java.
- - -

### Set the Finder Preferences

To be able to view your home directory within the Mac Finder
you need to tick a checkbox next to it. Go to Finder->Preferences your home directory
is named as your username.
My username is `ialbert`, yours will be different. See below:

![Finder Preferences](/img/finder-preferences.png)

**DONE**: Your Mac is now ready for bioinformatics.

{% endmarkdown %}

{% endblock %}
