{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set up Linux  #}
{# subtitle = this only needs to be done once #}
{# name = How to set up a Linux computer #}

{% block body %}
{% markdown %}

### Configuring your Linux distribution

There are numerous Linux distributions with various naming schemes. Our commands
refer to Ubuntu/Debian based systems.

To set up a system users
need to install packages via a so called package managers: `apt-get`, `yum` and others.
Depending on the Linux distribution's initial configuration one may install some, all or none of the
package shown below. Moreover the naming of these libraries occasionally changes. Please report
errors via the ticketing system. For Ubuntu Linux the following instructions were required.

    # Update your linux package. You may need to run this periodically.
    sudo apt-get update && sudo apt-get upgrade

    # Install a number of required libraries.
    sudo apt-get install -y curl build-essential ncurses-dev byacc zlib1g-dev python-dev git cmake

    # Install java and python libraries.
    sudo apt-get install -y unzip default-jre python-pip

Depending on your linux distribution software may be prepackaged. Typically
however these prepackaged versions lag the current versions.  For example
you may be able to install the EMBOSS tools with:

    sudo apt-get -y install emboss

You may also need to install common perl modules that sometimes are not included.
During the first run it will ask for a lot of parameters. Selecting the defaults should be fine.

    sudo perl -MCPAN -e 'install "LWP::Simple"'
    sudo perl -MCPAN -e 'install "HTML::Entities"'

**DONE**: Your Linux system is now ready for bioinformatics.

{% endmarkdown %}

{% endblock %}
