{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set up Linux  #}
{# subtitle = this only needs to be done once #}
{# name = How to set up a Linux computer #}

{% block body %}
{% markdown %}

### Configuring your Linux distribution

There are numerous Linux distributions with various naming schemes. Our commands
refer to Ubuntu/Debian based systems.

To set up a system users
need to install packages via a so called package managers: `apt-get`, `yum` and others.
Depending on the Linux distribution's initial configuration one may install some, all or none of the
package shown below. Moreover the naming of these libraries occasionally changes.

For Ubuntu Linux the following instructions were required to set up our system:

{%  code 'ubuntu-install.sh' %}

Install the Java programming environment.

{%  code 'ubuntu-install-java.sh' %}

Depending on the Linux distribution some software may be prepackaged and ready to install.
Note that these prepackaged versions may be older than the most up to date
versions.

For example you may be able to install the EMBOSS tools with:

    sudo apt-get -y install emboss

Or NCBI blast can be installed via:

    sudo apt-get -y install ncbi-blast+

Then if you run `blastn`:

    blastn -version

It will print:

    blastn: 2.2.28+
    Package: blast 2.2.28, build Jun  3 2013 11:17:14

Following he installation instructions from the {% link "how-to-install-everything" %} page we would
get a different, newer version of `blastn`.

{% endmarkdown %}

{% endblock %}
