{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set up Windows  #}
{# subtitle = this only needs to be done once #}
{# name = How to set up a Windows computer #}

{% block body %}
{% markdown %}

## Linux on Windows

Starting Aug 5, 2016 Windows 10 supports running Linux subsystem directly inside windows.
We believe that this will make Windows fully functional for bioinformatics.

### Installation

There are a few hoops to jump through. Follow the instructions as
described in [Bash on Ubuntu on Windows][windowsbash]

[windowsbash]: https://msdn.microsoft.com/en-us/commandline/wsl/about

## Other alternatives

Various workarounds are required. None of which will fully work though.

Typically these involve either running [Cygwin][cygwin], Linux-like environment for Windows or a full Linux
emulator like [VirtualBox][virtualbox].

[virtualbox]: https://www.virtualbox.org/wiki/Downloads
[cygwin]: https://www.cygwin.com/

### Install Cygwin

When installing cygwin ensure that you have the following packages selected:

* git
* make
* gcc-g++
* openssh
* zlib

and many others.

### Install Java

Install [Java JDK for Mac OS X](http://www.oracle.com/technetwork/java/javase/downloads/index.html)

Make sure that you install the **JDK** (Java Development Kit) and not the **JRE** (Java Runtime Environment)
version of Java.

{% endmarkdown %}

{% endblock %}
