{% extends "base.html" %}
{% load pytags %}
{# title = The Biostar Handbook #}
{# subtitle = your bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

<blockquote>
    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <a href="https://leanpub.com/biostarhandbook">Click here to register</a>
    to be notified of the preview releases.
    </p>
</blockquote>

{% include "book_link.html" %}

{% markdown %}

This website is an online companion for
the book [Biostar Handbook][book] that
provides a practical overview for the data
analysis methods of bioinformatics.

* [Read the Biostar Handbook (Fall, 2016)][book]

The website is evolving as it is also used to deliver supporting materials
for course lectures, summer courses and other training activities.
There may be different entry points to the materials.


[book]: http://read.biostarhandbook.com
- - -

### Previous materials

Below you will find archival materials presented during previous courses.
As the lectures are being reworked some of the links and content in older lectures
may become invalid. The current book and lectures series will
contain the most authoritative information.

* {%  link '2016-index.html' %} (supporting materials)
* {%  link '2015-index.html' %} (supporting materials)

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}
